* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.containerFooter{
    
    max-width: 1170px;
   margin: auto;
    
    
}

.rowFooter {
    display: flex;
    flex-wrap: wrap;

}


.footer-col ul {
    list-style: none;

}


.footer {
    background-image: url('images/imagine.footer.svg');
    /* aspect-ratio: 960/300; */
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: 30% 100%;
    background-size: cover;
    padding: 70px 0;
    
    margin-top: auto; 
    z-index: 2;
}

.footer-col {
    width: 25%;
    padding: 0 15px;

}

.footer-col h4{
    font-size: 18px;
    background: linear-gradient( 45deg, #03001e, #7303c0,
    #ec38bc, #fdeff9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 30px;
    position: relative;

}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: black;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 25px;
    text-transform: capitalize;
    color: white;
    /* background: linear-gradient( to right, #C6FFDD, #FBD786, #f7797d); */
    background-size: 300%;
    background-position: left;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    font-family: 'Poppins';
    font-weight: 400;
    display: block;
    transition: all 0.3s ease;
    text-decoration: none;
    
}

.footer-col ul li a:hover {
    background-position: right;
    transform: translateY(-3px);
}

.footer-col .social-links {
    display: flex;
    flex-direction: column;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
    color: #fff;


}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #fff;

}


@media(max-width: 767px) {
    .footer-col{
        width: 50%;
       
        margin-bottom: 30px;

    }
    .footer {
        background-image: none;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 190%;
        margin-bottom: 30px;
    }
}





